*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color:cadetblue;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    display: grid;
    height: 100vh;
  /*   grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr; */
    background-color: rgb(166, 171, 138);
    grid-template-columns: repeat(12 1fr);
    grid-template-rows: repeat(3 1fr);
}
.item{
    background-color: rgb(37, 64, 50);
}
/* Unidad de medida fr
 esta medida nos permite fraccionar nuestra grilla en fracciones */